@font-face {
    font-family: "highscore";
    src: url("../res/PressStart2P.ttf");
}

@font-face {
    font-family: "customfont";
    src: url("../res/frogger.ttf");
}

.appname {
	font-family: "customfont";
	font-size: 700% !important;
}

.scoreTable {
	background-color: black;
	font-family: "highscore";
	text-align: left;
	table-layout: fixed;
    width: 100%;
}

.colright td:nth-child(3) {
	text-align: right;
}

.marquee {
	/* width: 60%; */
	/* margin-left: 20%;         */
	max-height: 20vh;
    max-width: 90%;
}

#backgroundPopup {
 z-index:1;
 position: fixed;
 display:none;
 height:100%;
 width:100%;
 background:#000000;
 top:0px;
 left:0px;
}
/* #Popup { */
 /* font-family: "lucida grande",tahoma,verdana,arial,sans-serif; */
 /* background: none repeat scroll 0 0 #000000; */
 /* border: 10px solid #ccc; */
 /* border-radius: 3px 3px 3px 3px; */
 /* color: #333333; */
 /* display: none; */
 /* font-size: 14px; */
 /* left: 50%; */
 /* margin-left: -402px; */
 /* position: fixed; */
 /* top: 20%; */
 /* width: 800px; */
 /* z-index: 2; */
/* } */
#Popup {
 font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
 background: none repeat scroll 0 0 #000000;
 border: 2vh solid #ccc;
 border-radius: 3px 3px 3px 3px;
 color: #333333;
 display: none;
 font-size: 14px;
 left: 15%; 
 position: fixed;
 top: 10vh;
 width: 70%;
 z-index: 3;
 max-height:80vh;
}
div.loader {
 background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
 height: 32px;
 width: 32px;
 display: none;
 z-index: 9999;
 top: 40%;
 left: 50%;
 position: absolute;
 margin-left: -10px;
}
div.close {
 background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
 bottom: 24px;
 cursor: pointer;
 float: right;
 height: 30px;
 left: 27px;
 position: relative;
 width: 30px;
}
span.popup_tooltip {
 background: none repeat scroll 0 0 #000000;
 border-radius: 2px 2px 2px 2px;
 color: #FFFFFF;
 display: none;
 font-size: 11px;
 height: 16px;
 opacity: 0.7;
 padding: 4px 3px 2px 5px;
 position: absolute;
 right: -62px;
 text-align: center;
 top: -51px;
 width: 93px;
}
span.arrow {
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-top: 7px solid #000000;
 display: block;
 height: 1px;
 left: 40px;
 position: relative;
 top: 3px;
 width: 1px;
}
div#popup_content {
 margin: 0px 0px;
 overflow-x: auto;
 width: 100%; 
 max-height: 56vh;
 display: block;
}

/* footer { */
    /* clear: both; */
    /* position: relative; */
    /* height: 200px; */
    /* margin-top: -200px; */
/* } */